<?xml version="1.0" encoding="utf-8"?>
<log4net>
  <root>
    <level value="All" />
    <Extendedinformation value="false" />
    <appender-ref ref="RollingXMLFileAppender" />
    <!--<appender-ref ref ="MailAppender"/>-->
  </root>
  <appender name="RollingXMLFileAppender" type="log4net.Appender.RollingFileAppender" >
    <param name="File" value="C:\AppointmentSystems\Applications.log" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="10" />
    <maximumFileSize value="1100KB" />
    <layout type="log4net.Layout.XMLLayout">
      <!--<conversionPattern value="%date - %message%newlinenewline" />-->
      <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
    </layout>
  </appender>
</log4net>
