@using Commons;
@{
    ViewBag.Title = "Search Appointment";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var formName = (Int32)Enums.ScreenID.SearchAppointment;
}

@Styles.Render("~/Content/ScreenCSS")
@Scripts.Render("~/bundles/ScreenScripts")
<script src="~/Scripts/ActionScripts/SearchAppointment.js"></script>

@using (Html.BeginForm(null, null, FormMethod.Post, new { name = formName, id = formName, @class = "floating-labels form-horizontal" }))
{
    <div class="page-wrapper">
        <div class="container-fluid">
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h4 class="text-themecolor">Search Appointment</h4>
                </div>
                <div class="col-md-7 align-self-center text-right">
                    <div class="d-flex justify-content-end align-items-center">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0)">Appointment</a></li>
                            <li class="breadcrumb-item active">Search Appointment</li>
                        </ol>
                        <input type="hidden" id="hdnClinicCode" name="hdnClinicCode" value="@Constants.ClinicCode" />
                        @*<button type="button" class="btn btn-info d-none d-lg-block m-l-15"><i class="fa fa-plus-circle"></i> Create New</button>*@
                    </div>
                </div>
            </div>
            <div class="card FirstCard">
                <div class="card-body Custom-Card-Body">
                    <div class="row">
                        <div class="col-lg-3 form-group FirstCard">
                            <input type="text" id="txtFindFullName" name="txtFindFullName" class="form-control floating-Input AlphabetsOnly clearText" value="">
                            <span class="bar"></span>
                            <label for="txtFindFullName">Patient Name</label>
                        </div>
                        <div class="col-lg-3 form-group FirstCard">
                            <input type="text" id="txtFindPatientContact" name="txtFindPatientContact" class="form-control floating-Input PhoneNoMasking clearText" value="">
                            <span class="bar"></span>
                            <label for="txtFindPatientContact">Contact Number</label>
                        </div>
                        <div class="col-lg-3 form-group FirstCard">
                            <input type="text" id="txtFindPatientEmailID" name="txtFindPatientEmailID" class="form-control floating-Input clearText" value="">
                            <span class="bar"></span>
                            <label for="txtFindPatientEmailID">Email</label>
                        </div>
                        <div class="col-lg-3 form-group FirstCard">
                            <input type="text" id="txtFindPatientCNIC" name="txtFindPatientCNIC" class="form-control floating-Input CnicNoMasking clearText" value="">
                            <span class="bar"></span>
                            <label for="txtFindPatientCNIC">CNIC Number.</label>
                        </div>
                    </div>
                    <div class="row" id="div2">
                        <div class="col-lg-3 form-group FirstCard">
                            <select class="form-control floating-Select resetDDL" id="ddlDoctor">
                                <option value=""></option>
                            </select><span class="bar"></span>
                            <label for="ddlDoctor">Doctor</label>
                        </div>
                        <div class="col-lg-3 form-group FirstCard">
                            <input type="text" id="dtpAppointmentDate" name="dtpAppointmentDate" class="form-control floating-Input  AppointmentDatePicker clearText" value="">
                            <span class="bar"></span>
                            <label for="dtpAppointmentDate">Appointment Date</label>
                        </div>
                        <div class="col-lg-3 form-group FirstCard">
                            <select class="form-control floating-Select resetDDL" id="ddlDay">
                                <option value=""></option>
                            </select><span class="bar"></span>
                            <label for="ddlDay">Day</label>
                        </div>
                        <div class="col-lg-3 form-group FirstCard">
                            <input type="text" id="dtpCreatedDate" name="dtpCreatedDate" class="form-control AppointmentDatePicker floating-Input clearText" value="">
                            <span class="bar"></span>
                            <label for="dtpCreatedDate">Created Date</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div style="text-align: right; padding-bottom:0.5em; padding-top:0.5em;" class="card-body">
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-12"></div>
                                <div class="btn-p col-lg-2 col-md-2 col-sm-12">
                                    <button type="button" id="AdvanceSearch" class="btn-custom btn btn-info waves-effect waves-light">Advance</button>
                                </div>
                                <div class="btn-p col-lg-2 col-md-2 col-sm-12">
                                    <button type="button" id="findAppointmentToday" class="btn-custom btn btn-info waves-effect waves-light">Today</button>
                                </div>
                                <div class="btn-p col-lg-2 col-md-2 col-sm-12">
                                    <button type="button" id="findAppointment" class="btn-custom btn btn-info waves-effect waves-light">Find</button>
                                </div>
                                <div class="btn-p col-lg-2 col-md-2 col-sm-12">
                                    <button type="button" id="btnClearFilters" class="btn-custom btn btn-inverse waves-effect waves-light">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body" style="padding-left: 1.25em; padding-right: 1.25em; padding-bottom: 0.5em;">
                            <div class="table-responsive" style="overflow:auto">
                                <table id="TableSearchAppointment" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th>Action</th>
                                            <th hidden="hidden">Appointment ID</th>
                                            <th hidden="hidden">Doctor Name</th>
                                            <th>Patient Type</th>
                                            <th>Patient Name</th>
                                            <th hidden="hidden">CNIC</th>
                                            <th>Contact</th>
                                            <th hidden="hidden">Email</th>
                                            <th hidden="hidden">Service</th>
                                            <th hidden="hidden">Disease</th>
                                            <th>Appointment Date</th>
                                            <th>Day</th>
                                            <th>Time</th>
                                            <th hidden="hidden">Note</th>
                                            <th>Status</th>
                                            <th hidden="hidden">Created Date</th>
                                            <th hidden="hidden">Created By</th>
                                            <th hidden="hidden">Appointment Time Stamp</th>
                                            <th hidden="hidden">Appointment Process Time Stamp</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script>
    var SearchAppointment = (function () {
        var init = function () {
            SearchAppointment.bindPageEvents();

            var arrDoctor = [];
            arrDoctor.push(new common.DropDown($('#hdnClinicCode').val(), "ClinicCode"));
            common.FillDropDownListWithParem("ddlDoctor", "", common.CommonURLs.GetDropDownData, arrDoctor, "Doctor", "Error");

            var arrDays = [];
            arrDoctor.push(new common.DropDown(0, "Days"));
            common.FillDropDownListWithParem("ddlDay", "", common.CommonURLs.GetDropDownData, arrDays, "Days", "Error");
        };

        var bindPageEvents = function () {
            $("#findAppointment").on("click", function () {
                debugger;
                var name = $("#txtFindFullName").val();
                var contact = $("#txtFindPatientContact").val();
                var email = $("#txtFindPatientEmailID").val();
                var cnic = $("#txtFindPatientCNIC").val();
                var doctor = $("#ddlDoctor").val();
                var appointmentDate = $("#dtpAppointmentDate").val();
                var day = $("#ddlDay").val();
                var createdDate = $("#dtpCreatedDate").val();

                SearchAppointment.FindAppointments(name, cnic, contact, email, doctor, appointmentDate, day, createdDate);
            });

            $("#findAppointmentToday").on("click", function () {
                debugger;
                var name = $("#txtFindFullName").val();
                var contact = $("#txtFindPatientContact").val();
                var email = $("#txtFindPatientEmailID").val();
                var cnic = $("#txtFindPatientCNIC").val();
                var doctor = $("#ddlDoctor").val();
                var d = new Date();
                var appointmentDate = common.toDate(d);
                var day = $("#ddlDay").val();
                var createdDate = $("#dtpCreatedDate").val();

                SearchAppointment.FindAppointments(name, cnic, contact, email, doctor, appointmentDate, day, createdDate);
            });

            $("#btnClearFilters").on("click", function () {
                common.ResetForm();
                SearchAppointment.FindAppointments('', '', '', '', '', '', '', '');
            })

            $("#AdvanceSearch").on("click", function () {
                $('#div2').toggle('show');
            });
        };

        var table;
        var FindAppointments = function (Name, CNIC, Contact, Email, Doctor, AppointmentDate, Day, CreatedDate) {
            debugger;
            var URL = "/Appointment/FindAppointment?Name=" + Name + '&CNIC=' + CNIC + '&Contact=' + Contact + '&Email=' + Email + '&Doctor=' + Doctor + '&AppointmentDate=' + AppointmentDate + '&Day=' + Day + '&CreatedDate=' + CreatedDate + '&RequestVerificationToken=@Utility.TokenHeaderValue()';
            var Col = [
                {
                    data: null,
                    className: "td-centre",
                    defaultContent: '<a class="editor_view" onclick="SearchAppointment.ViewRecord(this);"><i title="View Appointment" class="fa fa-eye"></i></a>&nbsp;<a class="editor_remove" onclick="SearchAppointment.DeleteRecord(this);"><i class="fa fa-trash-alt" title="Delete Appointment"></i></a>'
                },

                { "mDataProp": "Appointment_ID", "visible": false },
                { "mDataProp": "Doctor_Name", "visible": false },
                { "mDataProp": "Patient_Type" },
                { "mDataProp": "Patient_Name" },
                { "mDataProp": "CNIC", "visible": false },
                { "mDataProp": "Contact" },
                { "mDataProp": "Email", "visible": false },
                { "mDataProp": "Service", "visible": false },
                { "mDataProp": "Disease_Name", "visible": false },
                {
                    "mDataProp": "Appointment_Dates", "visible": true,
                    "render": function toDate(data) {
                        return moment(data).format('MM/DD/YYYY');
                    }
                },
                { "mDataProp": "Day" },
                { "mDataProp": "Time" },
                { "mDataProp": "Note", "visible": false },
                { "mDataProp": "Status" },
                {
                    "mDataProp": "Created_Date", "visible": false,
                    "render": function toDate(data) {
                        return moment(data).format('MM/DD/YYYY');
                    }
                },
                { "mDataProp": "Created_By", "visible": false },
                { "mDataProp": "AppointmentTakenTimeStamp", "visible": false },
                { "mDataProp": "AppointmentProcessedTimeStamp", "visible": false }
            ];

            common.GridView('TableSearchAppointment', URL, Col);
            SearchAppointment.table = $("#TableSearchAppointment").DataTable();
            $('#TableSearchAppointment_length label select').removeClass('form-control');
            $('#TableSearchAppointment_length label select').removeClass('form-control-sm');
            $('.bottom div').removeClass('row');
            $('.bottom div').addClass('Botton-row');
        };

        var DeleteAppointment = function (id) {
            debugger;
            var URL = "/Appointment/DeleteAppointment/";
            $.ajax({
                url: URL,
                type: "POST",
                //contentType: false,
                dataType: 'json',
                data: { Appointment_ID: id },
                cache: false,
                async: true,
                success: function (data) {
                    debugger;
                    if (data == 'Success') {
                        common.SuccessMessage(common.Message.Delete);
                        common.ResetForm();
                        SearchAppointment.FindAppointments('', '', '', '', '', '', '', '');
                    } else {
                        common.ErrorMessage(common.Message.Error);
                    }
                },
                error: function () {
                    common.ErrorMessage(common.Message.Error)
                }
            });
        }

        var getAppointmentCellValues;
        var ViewRecord = function (data) {
            var tr = $(data).parents("tr");
            SearchAppointment.getAppointmentCellValues = SearchAppointment.table.row($(tr)).data();
            var URL = '/Appointment/ViewAppointment?RequestVerificationToken=@Utility.TokenHeaderValue()'
            common.openBSModelPopupLvl1(URL, 'large', 'Appointment Detail');
        }

        var DeleteRecord = function (data) {
            var tr = $(data).parents("tr");
            var row = SearchAppointment.table.row($(tr)).data();
            var id = row["Appointment_ID"]
            SearchAppointment.DeleteAppointment(id);
        }

        return {
            init: init,
            bindPageEvents: bindPageEvents,
            FindAppointments: FindAppointments,
            ViewRecord: ViewRecord,
            DeleteRecord: DeleteRecord,
            getAppointmentCellValues: getAppointmentCellValues,
            DeleteAppointment: DeleteAppointment
        };
    })();

    $(document).ready(function () {

        SearchAppointment.init();
        $("#div2").hide();
        SearchAppointment.FindAppointments('', '', '', '', '', '', '', '');

        $('#TableSearchAppointment_length label select').removeClass('form-control');
        $('#TableSearchAppointment_length label select').removeClass('form-control-sm');
        $('.bottom div').removeClass('row');
        $('.bottom div').addClass('Botton-row');
    });
</script>